.background-image {
    position: relative !important;
    width: 100% !important;
    
    background-image: url('https://scontent.fmnl37-2.fna.fbcdn.net/v/t39.30808-1/364143169_2214041695446772_5200507320078396244_n.jpg?stp=dst-jpg_s200x200&_nc_cat=103&ccb=1-7&_nc_sid=0ecb9b&_nc_ohc=38HM6yLykkgQ7kNvgFtgCD0&_nc_ht=scontent.fmnl37-2.fna&oh=00_AYBd2PZIsj2VlpGxbG3WkINk0j06zxmBcs-52i9BmLhHtA&oe=66B21A72') !important;
    background-size: cover !important;
    background-position: center !important;
    opacity: 0;
}

.background-image::before {
    content: '' !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    
    z-index: 9999 !important;
}

.background-image * {
    position: relative !important;
    z-index: 9999 !important;
   
}



