.background-image {
    position: relative !important;
    width: 100% !important;
    /* Set your desired width */
    /* height: 400px !important; */
    /* Set your desired height */
    background-image: url('https://png.pngtree.com/png-vector/20220723/ourlarge/pngtree-login-access-denied-vector-illustration-png-image_6041380.png') !important;
    background-size: cover !important;
    background-position: center !important;
    opacity: 0;
}

.background-image::before {
    content: '' !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    /* Overlay color with transparency */
    z-index: 9999 !important;
}

.background-image * {
    position: relative !important;
    z-index: 9999 !important;
    /* Ensures content is above the overlay */
}
